In [160]:
import pandas as pd
import os

In [161]:
# Files to load
school_data_load = os.path.join("resources", "schools_complete.csv")
student_data_load = os.path.join("resources", "clean_students_complete.csv")
missing_grades_load = os.path.join("resources", "missing_grades.csv")

In [162]:
#create dataframes
missing_grades_df = pd.read_csv(missing_grades_load)
school_data_df = pd.read_csv(school_data_load)
student_data_df = pd.read_csv(student_data_load)

#combine datasets into a single dataframe
school_data_complete_df = pd.merge(student_data_df, school_data_df, on=["school_name", "school_name"])

In [163]:
#Get total count of students
student_count = school_data_complete_df["student_name"].count()
#get the count of schools
school_count = len(school_data_complete_df["school_name"].unique())
#get total budget
budget_total = sum(school_data_complete_df["budget"].unique())
#get average reading score
reading_avg = school_data_complete_df["reading_score"].mean()
#get average math score
math_avg = school_data_complete_df["math_score"].mean()
# Get all the students who are passing math in a new DataFrame.
passing_math = school_data_complete_df[school_data_complete_df["math_score"] >= 70]
# Get all the students that are passing reading in a new DataFrame.
passing_reading = school_data_complete_df[school_data_complete_df["reading_score"] >= 70]

In [192]:
school_data_complete_df

,Unnamed: 0,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,3,Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
...,...,...,...,...,...,...,...,...,...,...,...,...
39165,39165,39165,Donna Howard,F,12th,Thomas High School,99,90,14,Charter,1635,1043130
39166,39166,39166,Dawn Bell,F,10th,Thomas High School,95,70,14,Charter,1635,1043130
39167,39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84,14,Charter,1635,1043130
39168,39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90,14,Charter,1635,1043130
39169,39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75,14,Charter,1635,1043130

In [174]:
#count of passing students
passing_math_count = passing_math["student_name"].count()
passing_reading_count = passing_reading["student_name"].count()

#get percentage of passing reading grades
reading_pass_percent = ((passing_reading_count / float(student_count)) * 100)

#get percentage of passing math grades
math_pass_percent = ((passing_math_count / float(student_count)) * 100)
print(reading_pass_percent)
print(math_pass_percent)

85.80546336482001
74.9808526933878

In [168]:
# Calculate the students who passed both math and reading.
passing_math_reading = school_data_complete_df[(school_data_complete_df["math_score"] >= 70) & (school_data_complete_df["reading_score"] >= 70)]

passing_math_reading.head()

,Unnamed: 0,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
4,4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
5,5,5,Bryan Miranda,M,9th,Huang High School,94,94,0,District,2917,1910635
6,6,6,Sheena Carter,F,11th,Huang High School,82,80,0,District,2917,1910635
8,8,8,Michael Roth,M,10th,Huang High School,95,87,0,District,2917,1910635
9,9,9,Matthew Greene,M,10th,Huang High School,96,84,0,District,2917,1910635

In [169]:
# Calculate the number of students who passed both math and reading.
overall_passing_math_reading_count = passing_math_reading["student_name"].count()
overall_passing_math_reading_count

25528

In [170]:
# Calculate the overall passing percentage.
overall_passing_percentage = overall_passing_math_reading_count / student_count * 100
overall_passing_percentage

65.17232575950983

In [172]:
#create dataframe for all summary outputs
district_summary_df = pd.DataFrame([{
    "Total Schools": school_count, 
    "Total Students": student_count,
    "Total Budget": budget_total,
    "Average Math Score": math_avg,
    "Average Reading Score": reading_avg,
    "% Passing Math": math_pass_percent,
    "% Passing Reading": reading_pass_percent,
    "% Overall Passing": overall_passing_percentage,
}])
district_summary_df

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,39170,24649428,78.985371,81.87784,74.980853,85.805463,65.172326

In [173]:
#set formatting
district_summary_df["Total Students"] = district_summary_df["Total Students"].map("{:,}".format)
district_summary_df["Total Budget"] = district_summary_df["Total Budget"].map("${:,.2f}".format)
district_summary_df["Average Math Score"] = district_summary_df["Average Math Score"].map("{:.1f}".format)
district_summary_df["Average Reading Score"] = district_summary_df["Average Reading Score"].map("{:.1f}".format)
district_summary_df["% Passing Reading"] = district_summary_df["% Passing Reading"].map("{:.0f}".format)
district_summary_df["% Passing Math"] = district_summary_df["% Passing Math"].map("{:.0f}".format)
district_summary_df["% Overall Passing"] = district_summary_df["% Overall Passing"].map("{:.0f}".format)
district_summary_df

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,"39,170","$24,649,428.00",79.0,81.9,75,86,65

In [224]:
# Determine the school type.
per_school_types = school_data_df.set_index(["school_name"])["type"]
per_school_types

school_name
Huang High School        District
Figueroa High School     District
Shelton High School       Charter
Hernandez High School    District
Griffin High School       Charter
Wilson High School        Charter
Cabrera High School       Charter
Bailey High School       District
Holden High School        Charter
Pena High School          Charter
Wright High School        Charter
Rodriguez High School    District
Johnson High School      District
Ford High School         District
Thomas High School        Charter
Name: type, dtype: object

In [225]:
# Add the per_school_types into a DataFrame for testing.
school_summary_df = pd.DataFrame(per_school_types)
school_summary_df

                           type
school_name
Huang High School      District
Figueroa High School   District
Shelton High School     Charter
Hernandez High School  District
Griffin High School     Charter
Wilson High School      Charter
Cabrera High School     Charter
Bailey High School     District
Holden High School      Charter
Pena High School        Charter
Wright High School      Charter
Rodriguez High School  District
Johnson High School    District
Ford High School       District
Thomas High School      Charter

In [226]:
# Calculate the total student count.
per_school_counts = school_data_complete_df["school_name"].value_counts()
# Calculate the total school budget.
per_school_budget = school_data_df.set_index(["school_name"])["budget"]
# Calculate school budget per student
per_school_capita = per_school_budget / per_school_counts
# Grade averages per school
per_school_reading = school_data_complete_df.groupby(["school_name"])["reading_score"].mean()
per_school_math = school_data_complete_df.groupby(["school_name"])["math_score"].mean()

#passing percentages per school
# Get all the students that are passing reading in a new DataFrame.
per_school_passing_reading = school_data_complete_df[school_data_complete_df["reading_score"] >= 70]
per_school_passing_reading = per_school_passing_reading.groupby(["school_name"])["reading_score"].count()
per_school_passing_reading_percent = per_school_passing_reading / per_school_counts * 100

# Get all the students who are passing math in a new DataFrame.
per_school_passing_math = school_data_complete_df[school_data_complete_df["math_score"] >= 70]
per_school_passing_math = per_school_passing_math.groupby(["school_name"])["math_score"].count()
per_school_passing_math_percent = per_school_passing_math / per_school_counts * 100

 # 3. Get the students who passed math and passed reading

per_school_passing_both = school_data_complete_df[(school_data_complete_df["math_score"] >= 70) & (school_data_complete_df["reading_score"] >= 70)]   
per_school_passing_both = per_school_passing_both
per_school_passing_both = per_school_passing_both.groupby(["school_name"]).count()["student_name"]
per_school_passing_both

#4. Percent of students passing both math and reading
per_school_passing_percentage = per_school_passing_both / per_school_counts * 100
per_school_passing_math_percent

Bailey High School       66.680064
Cabrera High School      94.133477
Figueroa High School     65.988471
Ford High School         68.309602
Griffin High School      93.392371
Hernandez High School    66.752967
Holden High School       92.505855
Huang High School        65.683922
Johnson High School      66.057551
Pena High School         94.594595
Rodriguez High School    66.366592
Shelton High School      93.867121
Thomas High School       93.272171
Wilson High School       93.867718
Wright High School       93.333333
dtype: float64

In [236]:
#Build out final school summary dataframe
per_school_summary_df = pd.DataFrame({
    "School Type": per_school_types,
    "Total Students": per_school_counts,
    "Total School Budget": per_school_budget,
    "Per Student Budget": per_school_capita,
    "Average Math Score": per_school_math,
    "Average Reading Score": per_school_reading,
    "% Passing Math": per_school_passing_math_percent,
    "% Passing Reading": per_school_passing_reading_percent,
    "% Overall Passing": per_school_passing_both
})
per_school_summary_df.head()

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Bailey High School,District,4976,3124928,628.0,77.048432,81.033963,66.680064,81.933280,2719
Cabrera High School,Charter,1858,1081356,582.0,83.061895,83.975780,94.133477,97.039828,1697
Figueroa High School,District,2949,1884411,639.0,76.711767,81.158020,65.988471,80.739234,1569
Ford High School,District,2739,1763916,644.0,77.102592,80.746258,68.309602,79.299014,1487
Griffin High School,Charter,1468,917500,625.0,83.351499,83.816757,93.392371,97.138965,1330

In [237]:
# Format the Total School Budget and the Per Student Budget columns.
per_school_summary_df["Total School Budget"] = per_school_summary_df["Total School Budget"].map("${:,.2f}".format)

per_school_summary_df["Per Student Budget"] = per_school_summary_df["Per Student Budget"].map("${:,.2f}".format)

# Display the data frame
per_school_summary_df.head()

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Bailey High School,District,4976,"$3,124,928.00",$628.00,77.048432,81.033963,66.680064,81.933280,2719
Cabrera High School,Charter,1858,"$1,081,356.00",$582.00,83.061895,83.975780,94.133477,97.039828,1697
Figueroa High School,District,2949,"$1,884,411.00",$639.00,76.711767,81.158020,65.988471,80.739234,1569
Ford High School,District,2739,"$1,763,916.00",$644.00,77.102592,80.746258,68.309602,79.299014,1487
Griffin High School,Charter,1468,"$917,500.00",$625.00,83.351499,83.816757,93.392371,97.138965,1330